*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app{
    height: 100%;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
}

.word-form-wrapper{
    width: 100%;
}

.word-form{
    width: 90%;
    margin: 0 auto;
    margin-bottom: 20px;
}

/* start word-block */
.word-block{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    max-width: 100vw;
    margin: 20px auto;
}

.letter-block{
    border: 2px solid green;
    padding: 5px 20px;
    margin: 2px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.7rem;
}
/* end word-block */

/* start word-input */
.word-input__wrapper{
    display: flex;
    justify-content: center;
    width: 58%;
    margin: 0 auto;
}

.word-input__input{
    border: 2px solid green;
    font-weight: 300;
    font-size: 1.4rem;
    padding: 5px 5px 5px 10px;
    width: 100%;
}

.button{
    border: 2px solid green;
    background-color: green;
    color: white;
    font-weight: 900;
    cursor: pointer;
    padding: 10px 15px;
}

.word-input__button{
    font-size: 1.5rem;
}
/* end word-input */

/* start setup-block */
.setup-block__button{
    padding: 5px 25px;
    margin-right: 10px;
    margin-bottom: 20px;
    font-size: 1.1rem;
}

.setup-block{
    display: flex;
    justify-content: center;
    max-width: 100vw;
    padding: 0 10px;
}
/* end setup-block */

/* start modal */
.modal-wrapper{
    min-height: 18vh;
}

.modal{
    background-color: green;
    color: white;
    font-size: 1.4rem;
    font-weight: 900;
    padding: 10px;
    text-align: center;
}

.modal__subheader,
.modal__body{
    letter-spacing: normal;
}

.modal__subheader{
    font-size: 1.2rem;
    font-weight: 700;
}

.modal__body{
    font-size: 1rem;
    font-weight: 400;
}
/* end modal */

/* start vocabulary */
.vocabulary__body{
    text-align: center;
}

.vocabulary__item{
    display: flex;
    justify-content: center;
    font-size: 1.1rem;
}

.vocabulary__part{
    padding: 5px 10px;
    border-bottom: 2px solid green;
    width: 20%;
}   

.vocabulary__english{
    border-right: 2px solid green;
    text-align: right;
    padding-left: 10px;
}

.vocabulary__russian{
    text-align: left;
    padding-right: 10px;
}
/* end vocabulary */

@media screen and (max-width: 740px) {
    .word-form{
        width: 100%;
    }
    .letter-block{
        font-size: 1.2rem;
        padding: 5px 13px;
    }
    .vocabulary__part{
        width: 50%;
    }
    .word-input__wrapper{
        flex-direction: column;
        width: 80%;
    }
    .word-input__button{
        padding: 5px 15px;
    }
    .word-block{
        align-items: stretch;
    }
}

@media screen and (max-width: 450px){
    .modal-wrapper{
        min-height: 20vh;
    }
    .setup-block__button{
        padding: 6px 12px;
    }
    .word-input__wrapper{
        margin: 20px auto;
        width: 95%;
    }
    .word-input__input{
        font-size: 1.1rem;
        padding: 10px 5px;
    }
}